@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  } 

  body {
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100vh;
    font-family: Product Sans;
    margin: 0;
    padding: 0;   
}

header {
    margin: 10px 10px;
    margin-bottom: 0;
    color: white;
    background: #ffbf00;
    padding: 5px;
    text-align: center;
}

.preferences {
    font-size: 20px;
    color: white;
    background: #536DFE;
    margin: 0 10px;
    display: flex;
    height: 40px;
    justify-content: space-evenly;
    align-items: center;
}

input#number {
    width: 50px;
}

.container {
    
    border: 5px solid #212121;
    margin: 10px auto;
    width: 70vh;
    display: flex;
    flex-wrap: wrap;
    height: 70vh;
   
   
    
}

.cell {
    border: .25px solid #212121;
    margin: 0;
    padding: 0;
    

}